/* fuentes */

@font-face {
    font-family:'lato';
    font-style: normal;
    font-weight: 100;
    src: url("fuentes/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family:'latoregular';
    font-style: normal;
    font-weight: 100;
    src: url("fuentes/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family:'latothin';
    font-style: normal;
    font-weight: 100;
    src: url("fuentes/Lato/Lato-Thin.ttf");
}

@font-face {
    font-family:'latolight';
    font-style: normal;
    font-weight: 100;
    src: url("fuentes/Lato/Lato-Light.ttf");
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* NavBar Redes Sociales */

.cursosofertas,
.cursosofertasmobil {
    display: none; 
}
    
.diplomado-card-mobil {
    font-family: 'latoregular';
    display: flex; 
    width: 80%;
    background-color: #f5f4f8;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px 100px;
    flex-direction: column;
    
}


.banner {
        position: relative;
        background-image: url('images/bannerecmobil.png');
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: center; 
        width: 100%;
        aspect-ratio: 380 / 419;    
}

html {
    scroll-behavior: smooth;
}



.barra_navegacion_uno{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000000;
    z-index: 3;
    height: 3vh;
    width: 100%;
    position: relative;
}

.contenido_barra_navegacion_uno {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.redes_sociales {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 2vw;
}

.redes_sociales .iconos_redes_sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25px;
    background-color: #8c8c8c;
    margin: 0 1px;
}

.redes_sociales .iconos_redes_sociales img {
    width: 14px;
    height: 14px;
}

.lenguaje, .busqueda {
    font-family: 'lato';
    font-size: 12px;
    margin-left:5px;
    margin-right:5px;
    align-items: center;
}

.opciones-lenguaje {
    color: #fff;
    margin: 0 2px;
    cursor: pointer;
}

.opciones-lenguaje:not(:last-child) {
    border-right: 1px solid #fff;
    padding-right: 5px;
}

.busqueda {
    display: flex;
    align-items: center;
}

.busqueda form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.busqueda input {
    padding: 2px;
    border: none;
    background-color: #8c8c8c;
    color: #fff;
    outline: none;
}

.busqueda button {
    margin-right:5px;
    background-color: red;
    border:none;
    padding: 0px 3px;
    cursor: pointer;
    border-radius: 0;
    margin-top: 0%;
}

.busqueda button img {
    width: 16px;
    height: 16px;
    filter: invert(1);
}

/* NavBar Pagina web */

.barra_navegacion_dos {
    font-family: 'lato';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #868693;
    height: 10vh;
    padding: 0 20px;
    font-size: 15px;
    z-index: 3;
    /* box-shadow: -1px -12px 9px 20px rgb(0 0 0 / 67%); */
    position: relative;
    font-size: 1.3vh;
    
}

.navegacion {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1; /* Permite que este contenedor crezca */
    justify-content: center; /* Centra los enlaces de navegación */
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 31px;
    position: relative;
    height: 100%;
    align-content: center;
    text-align: center;
}

.nav-link:nth-child(1) {
    margin-left: 3vw; /* Aplica margen de 100px al tercer elemento */
}

.nav-link:hover {
    background-color: #a10b0b;
    z-index: 10;
}

.nav-link:nth-child(5)::before {
    content: "";
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);
    height: 60%;
    width: 1px;
    background-color: white;
}   

.nav-link:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 1px;
    background-color: white;
}

.nav-link span {
    display: inline-block;
    line-height: 1.2;
}

.logo-gobernacion-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-left: auto;
    flex: 0; /* Evita que este contenedor crezca */
}

.logo-gobernacion-nav img {
    width: 12vw;
    height: auto;
    position: relative;

}

/* Barra navegacion mobil */





.logo-container {
 
    /* top: 0%; */
    width:auto;
    margin: 0px 2vw;
    /* height: 220px; */
   
}

.logo-unillanos {
    position: relative;
    z-index:10;
    max-width:500px;
}


/* Body */

main{
    width:100%;
    overflow: hidden;
}



.imagenes_banner{

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0; 
}

.cursosofertas{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.diplomado-card {
    font-family: 'latoregular';
    display: flex; 
    /* width: 82vw; */
    width: 80%;
    background-color: #f5f4f8;
    /* background-color: rgb(212, 207, 207); */
    border-radius: 50px;
    /* overflow: hidden; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    aspect-ratio: 1.9 / 0.9;
    margin: auto;

}

 .diplomado-content {
    /* padding: 20px; */
    max-width: 40%;
    margin-left: 8.5%;
    margin-right: 13.32%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

} 

.titulo {
    color: #991B1E;
    font-size: 5.2vh;
    font-family: 'lato';
    margin-bottom: 0.4vh;
}

.subtitulo {
    font-size: 4vh;
    color: black;
    margin-bottom: 1vh;
    font-family: 'latolight';
}

.descripcion {
    color: #000;
    font-size: 1.8vh;
    margin-bottom: 1.5vh;
}

.info {
    display: flex;
    justify-content: center;
    margin-bottom: 2.4vh;
    align-items: center;
}

.info p {
    font-size: 1.8vh;
    /* margin: 0.5rem; */
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.info p strong{
    color: #991B1E;
    margin-bottom: 0.8vh;
    display: block;
    font-size: 2vh;
}

.separator {
    width: 1px;
    height: 50px;
    background-color: #991B1E;
    margin: 0 8px;
}

.info .separator:first-of-type {
    margin-left: 0;
}

.boton {
    display: inline-block;
    padding: 6px 20px;
    background-color: #991B1E;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px; 
    font-family: 'latolight';
    font-size: 3.7vw;
}

.boton:hover {
    background-color: #7a1315;
}

.diplomado-imagen {
    /* max-width: 50%; */
    width:50%;
    overflow: hidden;

}

.diplomado-imagen {
    /* width: 50%;
    height: 100%; */
    width:50%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.diplomado-imagen img {
    height: 100%;
    width: 100%; /* Ajuste para que el largo sea siempre proporcional */
    object-fit: cover;
    border-radius: 30px;
}

/* banner universidad ver programas */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.contenido_overlay {
    width:55%;
    display: flex;
    align-items: center;
    color: #fff;
    text-align: right;
    justify-content: flex-end;
    font-family: 'lato';
    margin-right:2%;
}

.contenido_overlay h3 {
    color:#8B0000;
    font-size: 3vw; 
    margin-right: 2vw; /* Espacio entre el texto y el botón */
    line-height: 0.9;
}

.contenido_overlay button {
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 11px 24px;
    font-size: 1.8vh;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin-top: 1vh;
}

.contenido_overlay button:hover {
    background-color: #a10b0b; 
}

.contenido_overlay h3::after {
    content: "en posgrados";
    color: #333; 
}

/* Banner centro de idiomas */

.overlay_left {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.contenido_overlay_left {
    width:55%;
    display: flex;
    align-items: flex-start;
    color: #fff;
    text-align: right;
    font-family: 'lato';
    margin-left:4%;
    flex-direction: column;
}



.contenido_overlay_left h3 {
    color:white;
    font-size: 5.6vh; 
    margin-right: 50px; /* Espacio entre el texto y el botón */
   
}

.contenido_overlay_left h3:not(:last-child) {
    
    border-bottom: 1px solid #fff;
     padding-bottom: 2%; 
    margin-bottom: 2%;
}

.contenido_overlay_left h2{
    font-size: 2.5vh;
    text-align: left;
    font-family: 'latothin';
}

.contenido_overlay_left button {
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 8px 24px;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'lato';
    transition: background-color 0.3s;
    margin-top: 5%;
}

.contenido_overlay_left button:hover {
    background-color: #a10b0b; 
}

/* Banner contacto */

.overlay_form {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-family: 'lato';
    box-sizing: border-box;
}

.contenido_overlay_form {

    width: 38.61vw;
    /* padding: 40px; */
    border-radius: 10px;
    margin-right: 2%;
    text-align: left;
}

.titulo_form {
    color: #333;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.contenido_overlay_form h3 {
    font-size: 2.5vw;
    margin-bottom:3vh;
}

.contenido_overlay_form h2 {
    color: #000;
    font-size: 1.4vw;
    text-align: left;
    font-family:'latolight';
    margin-bottom: 20px;
    margin-bottom:12%;

}

.form-group {
    margin-bottom: 13%;
    position: relative;
}

.form-group label {
   
    font-size:3.3vw;
    position: absolute;
    top: -70%;
    left: -0.6vw;
    padding: 0 5px;
    font-weight: bold;
}


.form-group input,
.form-group textarea {
    background-color: transparent;
    font-family: 'lato';
    width: 100%;
    padding: 10px;
    border: 1px solid #a10b0b; /* Bordes de color rojo */
    border-top: none; /* Eliminar borde superior */
    border-radius: 0px;
    outline: none; /* Eliminar el borde al enfocar */
    height: 8vw;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none; /* Eliminar el borde al enfocar */
}

.form-row {
    display: flex;
    gap: 1.5vw;
}

.form-row .form-group {
    flex: 1;
}


.form-group textarea {
    /* height: 12vh; */
    resize: none;
}

.form-group.form-button {
    text-align: right;
    margin-bottom: 0px;
}

button {
    margin-top:-3vh;
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 0.7vh 3vw;
    font-size: 1.8vh;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'lato';
}

button:hover {
    background-color: #a10b0b;
}

 .header-line {
    border-bottom: 2px solid #cc0000;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 60%;
}

@media (min-width: 1000px) {

    .banner{
        aspect-ratio: 1920/823 !important;
    }

    .cursosofertas {
        display: block;
    }

    .barra_navegacion_tres{
        display: none;
    }


    .boton{
        font-size: 1.7vw;
    }

    .banner-tres{
        position: relative;
        background-image: url('images/banner3.jpg');
        background-size: cover; 
        background-position: center; 
        aspect-ratio: 1920 / 296; 
        width:100%;
   
    }

    .contenido_overlay h3 {
        color: #8B0000;
        font-size: 3vw;
        margin-right: 2vw;
        line-height: 0.9;
    }

    .banner-cuatro{
        position: relative;

        background-image: url('images/banner4.jpg');
        background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center; /* Centra la imagen */      
        width:100%;
        aspect-ratio: 1920 / 537; 
        background-repeat:repeat;
        background-size: cover;
    }

    .contenido_overlay_left h2 {
        margin-bottom: 4%;
    }

    .banner-cinco{
        background-image: url('images/bannerform.jpg');     
        width:100%; 
        aspect-ratio:1920/989;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
    }

    .form-group textarea {
        height: 7vh;
    }

    .contenido_overlay_form {
        padding: 40px;
    }

}

@media (min-width: 601px){

    .diplomado-card{
        width:100%;
    }

    .info{
        margin-bottom:10%;
    }
  
}

@media (min-width: 1128px) and (min-height: 634px) {

    .barra_navegacion_uno {
        height: 3vh;
    }

    button {
        padding: 0.5vh 2.5vw;
        font-size: 2.1vh;
    }

}

@media (max-width: 999px){

    .busqueda input, button {
        display: none;

    }

    .cursosofertasmobil {
     
        display: flex;
        flex-direction: column;
        align-items: center;
     
    }

    .cursosofertas{
        display: none;
    }

    .barra_navegacion_uno, .barra_navegacion_dos{
    display: none;
   }

    .barra_navegacion_uno, .barra_navegacion_dos{
        display: none;
    }

    .diplomado-card-mobil {
        font-family: 'latoregular';
        display: flex;
        width: 80%;
        background-color: #f5f4f8;
        border-radius: 30px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin: 10% 100px;
        flex-direction: column;
    }

    .titulo-mobil{
        color: #991B1E;
        font-size: 5vw;
        font-family: 'lato';
        margin: 10% 0 0.4vh 3%;
    }

    .subtitulo-mobil {
        font-size: 4vw;
        color: black;
        margin-bottom: 1vh;
        font-family: 'latolight';
        margin: 0% 0 1.4vh 3%;
    }

    img{
        display: flex;
        width:100%;
        border-radius: 30px;
        height: 100%;
    }

    .descripcion-mobil {
        font-size: 2.9vw;
        padding: 0 5%;
        margin:5% 0;
    }

    .info {
        justify-content: space-evenly;
    }

    .info p strong {
        font-size: 3.7vw;
    }

    .info p {
        font-size: 2.9vw;
    }

    .separator{
        height:40px;
    }

    .diplomado-content-mobil .boton{

        font-size: 3.7vw;
        padding: 4px 18px;
        margin: 5% 0 8% 4%;
    }

    .banner-tres{
        position: relative;
        border-radius: 0px;
        background-image: url('images/banner-posgradosmobil.jpg');
        background-size: cover; 
        background-position: center; 
        aspect-ratio: 380 / 180; 
        width:100%;
   
    }

    .banner-tres img{
        display: block; 
        max-width: 100%;
        height: auto;
    }

    .overlay {
        position: absolute;
        overflow: visible;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    .contenido_overlay {
        flex-direction: column;
        width: auto;
        text-align: center;
        color: white; 
    }
    
    .contenido_overlay h3 {
        font-size: 7vw;
        margin-bottom: 20px;
    }

    .banner-cuatro{
        position: relative;

        background-image: url('images/banner-idiomasmobil.jpg');
        background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center; /* Centra la imagen */      
        width:100%;
        aspect-ratio: 380 / 380; 
        background-repeat:repeat;
        background-size: cover;
    }

    .overlay_left {
        align-items: flex-start;
    }

    .contenido_overlay_left h2 {
        font-size: 3.5vw;
        margin-bottom:8%;
    }

    .contenido_overlay_left {
        width: 90%;
        color: #fff;
        margin-left: 0%;
    }

    .contenido_overlay_left h3 {
        text-align: left;
        color: white;
        font-size: 7vw;
        margin-right: 0px;
    }

    .banner-cinco{
        background-image: url('images/bannerformmobil.jpg');     
        width:100%; 
        aspect-ratio:380/760 ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
    }

    .overlay_form {
        align-items: center;
        justify-content: center;
    }

    .contenido_overlay_form {
        width: 80%;
        border-radius: 10px;
        margin-right: 2%;
        text-align: left;
    }

    .contenido_overlay_form h3 {
        font-size: 6vw;
    }

    .contenido_overlay_form h2 {
        font-size: 3.3vw;
        text-align: center;
        margin-bottom: 20%;
    }


    .form-row {
        flex-direction: column;
    }

    button {
        display:flex;
        padding: 0.7vh 8vw;
        font-size: 3.7vw;
    }

    .form-group.form-button {
        display: flex;
        flex-direction: row-reverse;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        background-color: #272526;
        font-family: lato;
        font-size: 2vw;
        column-gap: 15%;
    }
    
    .footer-section {
        flex: 1 1 22%;
        margin: 10px;
        color: white;
    }
    
    .footer-section li:first-child {
        border-top: 2px solid red;
        padding-top: 10%;
        width: 60%;
    }
    
    .footer-section ul {
        list-style-type: none;
        padding: 0;
    }
    
    .footer-section ul li {
        margin: 8px 0;
    }
    
    .footer-logos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));

    }
    
    .footer-logos img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    
    .footer-bottom {
        background-color: #222;
        color: white;
        padding: 20px 0;
        font-size: 13px;
        line-height: 1.7;
        font-family: 'lato';
    }

    .footer-bottom .footer-bottom-container {
        display: flex;
        font-weight: bold;
        font-size: 2vw;
        line-height: 1.7vh;
        justify-content: space-between;
        width: 95%;
        max-width: 1700px;
        margin: 0 auto;
        padding: 0 20px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .footer-bottom .footer-info {                                           
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 7%;
    }

    .footer-bottom .footer-info p {
        margin: 5px 0;
    }

    .footer-bottom .footer-logo {
        flex: 0.5;
        display: flex;
        justify-content: flex-end;
        width:80%;
    }

    .footer-bottom .footer-logo img {
        width: 100%;
        height: auto;
    } 

    img{
        border-radius: 0px;
    }

    .nav-list li a{
        text-decoration: none;
        color:red ;
    }

    .barra_navegacion_tres{
        font-family: 'lato';
        display: flex;
        width:100vw;
        align-items: center;
        background-color: #868693;
        height: 6vh;
        font-size: 15px;
        z-index: 3;
        font-size: 1.3vh;
        justify-content: space-between;
        padding: 1rem;
        position: fixed;
        box-shadow: 0px -17px 14px 20px rgb(39 39 39);
    }

    .abrir-menu{
        background-image: url('images/menu.png');
        display: inline-block; 
        width: 30px;
        height: 30px; 
        background-size: cover; 
        background-repeat: no-repeat; 
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(266deg) brightness(101%) contrast(102%);

    } 

    .logo{
        max-width:6rem;
        height:auto;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(266deg) brightness(101%) contrast(102%);
      
    }

    .nav-lista {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background-color: #f8f9fa;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        transition: left 0.3s ease;
    }
    

    .nav-lista.visible {
        left: 0; 
    }

    .nav-list{
        flex-direction: column;
        align-items: end;

    }

    .nav-list li a{
        color:black;

    }

    .nav-list{
        list-style-type:none ;
        display: flex;
        gap:1rem;
        margin-bottom: 15px;
        align-items: flex-start;
        padding: 2rem;
    }

    .nav-list a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #212529; 
        font-size: 9px;
        border-radius: 8px;
        transition: background-color 0.3s, color 0.3s; /* Transición suave para hover */
    }

    .nav-list a:hover {
        background-color: #e2e6ea; /* Color de fondo en hover */
        color: #007bff; /* Color del texto en hover */
    }
    
    .nav-list a .icon {
        margin-right: 10px;
    }
    
    .nav-list .active {
        background-color: #d1e7dd;
        color: #0f5132;
    }
    
 
}

@media (min-width: 1000px) and (max-height: 1280px) {

    .logo-unillanos {
        width:20vh;
        transform: translateY(5%);
    }

    .titulo{
       font-size:3.2vw; 
    }

    .subtitulo{
        font-size:2.7vw; 
    }

    .descripcion{
        font-size:1.2vw; 
    }

    .info p strong {
        font-size: 1.5vw;
    }

    .info p{
        font-size: 1.2vw;
    }

    .separator {
        height: 100%;
        margin: 12px
    }

    .boton{
        font-size: 1.7vw;
        padding: 4px 18px;
    }

    .form-group label {
        font-size: 1.1vw;
        top: -47%;
    }

    .form-group input, .form-group textarea {
        height: 4vw;
    }

    .diplomado-card {
        width: 80%;
        margin-top:5%;
        margin-bottom: 5%;
    }

    .contenido_overlay a{
        font-size: 1.2vw;
        padding: 7px 18px
    }

    .footer {
        background-color: #272526;
        font-family: 'Lato', sans-serif;
        font-size: 0.8vw;
        color: #fff;
        padding: 2% 10%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 7%;
    }
   
    .footer-section {
        flex: 1 1 20%;
        margin: 10px;
    }
    
    .footer-section ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .footer-section ul li {
        margin-bottom: 10px;
    }

    
    
    .footer-section ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .footer-section ul li a:hover {
        text-decoration: underline;
    }
    
    .footer-logos {
        flex: 1 1 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .footer-logos img {
        margin: 5px;
        max-height: 50px;
        max-width: 100px;
        height: auto;
        width: 20%;
    }

    .footer-section{
        border-top: 2px solid red;
        padding-top: 2%;
        width: 60%;
    }

    .footer-section:nth-child(4){
        border-top: 2px solid red;
        margin: 0.5%;
        padding-top: 1%;
        width: 60%;
    }

    .footer-bottom {
        background-color: #272526;
        font-family: 'Lato', sans-serif;
        font-size: 0.8vw;
        color: #fff;
        padding: 2% 5%;
        display: flex;
        justify-content: center;
        /* line-height:18px; */
        gap: 7%;
    }
    
    .footer-bottom-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .footer-info {
        flex: 1 1 30%;
        /* margin: 10px; */
    }

    .footer-info p{
        margin-bottom: 10px;
    }
    
    
    .footer-logo {
        flex: 1 1 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 10px;
    }
    
    .footer-logo img {
        height: auto;
        width: auto;
    }

}








